:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header header"
    "main aside";
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}
