:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main,header,footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}